<form action="/login/" method="post">

    <h2>Iniciar Sesión</h2>
    <p>Solo para personal de la autoescuesla My Way</p>

    <label for="nombre">Nombre de usuario:</label>
    <input id="nombre" name="nombre" type="text" required>
    <br></br>

    <label for="contrasenia">Contraseña:</label>
    <input id="contrasenia" name="contrasenia" type="password" required>
    <br></br>

    <input type="submit" value="Iniciar Sesión">
    
</form>