<form action="/register/" method="post">

    <h2>Registrarse</h2>

    <label for="nombre">Nombre de usuario:</label>
    <input id="nombre" name="nombre" type="text" required>
    <br></br>

    <label for="contrasenia">Contraseña:</label>
    <input id="contrasenia" name="contrasenia" type="password" required>
    <br></br>

    <input type="submit" value="Registrarse">
    
</form>