header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

nav {
    background-color: #333;
    padding: 5px;
    text-align: center;
}
        
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
        
nav a:hover {
    color: #ccc;
}

#plantillaSecundaria {
    padding: 20px;
}

footer {
  text-align: center;
  color: white;
  width: 100%;
}